/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.logo{
 // vertical-align: middle;
  //margin-top:10px;
 // padding-top: 10px;
  font-size: 2.7em;
}
.navbar li a:link, .navbar li a:visited{
    color: #000000;
    text-align:center;
}
.button{
    padding-top:10px;
}
.navbar li a:hover{
  color: #000000 !important;
  text-decoration: underline;
}
.navbar{
  min-height:40px;
 // padding-top: 30px;
  //padding-left:100px;
}
#header{
  padding-top: 10px;
}
.blank{
  height: 10px;
}
#ad{
  border-style:groove;  
}
#dropup-button{
  border-width:0px;
}
#dropup-button:hover{
   background-color: transparent !important;
  text-decoration: underline;
}
.panel{
  border-style:solid;
  border-color:#428bca;
  border-width: 3px;
  margin-top: -2px;
  border-radius: 20px;
  padding-top:20px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:20px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.blue a{
    background-color: #428bca !important;
}
 .footer{
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
 .nav-pills{
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }