<nav class="navbar navbar-default navbar-fixed-bottom role=navigation">
  <div class="navbar-inner">               
    <div class="container">
      <div class="collapse navbar-collapse nav-center" align="center">

        <ul class="nav navbar-nav footer"> 
          
          <li><a href="http://smartcoos.com/a/en">Home</a></li>
          <li><a href="http://smartcoos.com/a/en/see-it-action">See It In Action</a></li>

          <li>
            <div class="btn-group dropup">
              <button id="dropup-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                About
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://smartcoos.com/a/en/about-our-compnay">About Us</a></li>
                <li><a href="http://smartcoos.com/a/en/mission-values">Mission & Values</a></li>
                <li><a href="http://smartcoos.com/a/en/contact">Contact Us</a></li>
              </ul>
            </div>
          </li>
          <li><a href="http://smartcoos.com/a/en/become-teacher">Becoming a Teacher</a></li>
          <li><a href="http://smartcoos.com/a/en/faqs">FAQ</a></li>
          <li><a href="http://smartcoos.com/a/en/terms">Term</a></li>
          <li><a href="http://smartcoos.com/a/en/privacy">Policy</a></li>
        </ul>
      </div> 
    </div>
  </div>
</nav>