<nav class="navbar navbar-default navbar-static-bottom role=navigation">
  <div class="navbar-inner">               
    <div class="container">
      <div class="collapse navbar-collapse nav-center" align="center">
        <ul class="nav navbar-nav"> 
          <li><a href="#">This is smart coos</a></li>
          <li><a href="#">Our Languages</a></li>
          <li><a href="#">Our App</a></li>
          <li><a href="#">Our Books</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div> 
    </div>
  </div>
</nav>