<nav id="header" class="navbar navbar-default navbar-static-top role=navigation">
  <div class="navbar-inner">               
    <div class="container">
      <div class="collapse navbar-collapse nav-center">
        <ul class="nav navbar-nav pull-right">       
          <li class="logo"><span style="color:purple;">Smart</span><span style="color:blue;">Coos</span></li>
          <li><a href="#">GET FULL ACCESS NOW </a></li>
          <li><a href="#">Gift Subscription</a></li>
          <li><%=button_to 'REGISTER', '#', :class=>"btn btn-primary"%></li>
          <li><%=button_to 'LOGIN', '#', :class=>"btn btn-primary"%> </li>
        </ul>        
        <ul class="nav navbar-nav"> 
          
          <li><a href="#">Home</a></li>
          <li><a href="#">See It In Action</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Becoming a Teacher</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Term</a></li>
          <li><a href="#">Policy</a></li>
        </ul>
      </div> 
    </div>
  </div>
</nav>