<nav class="navbar navbar-default navbar-fixed-top role=navigation">
  <div class="navbar-inner">                    
    <div class="container" align="left">
      
      <ul class="nav navbar-nav pull-right">
        <li>
          <a><h2><span style="color:purple;">Smart</span><span style="color:blue;">Coos</span></h2></a>
      </li>
        <li><a href="#">This is smart coos</a></li>
        <li><a href="#">Our Languages</a></li>
        <li><a href="#">Our App</a></li>
        <li><a href="#">Our Books</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
       
    </div>
  </div>
</nav>