<nav id="header" class="navbar navbar-default navbar-static-top role=navigation">
  <div class="navbar-inner">               
    <div class="container">
      <div class="collapse navbar-collapse nav-center">
        <ul class="nav navbar-nav pull-left">
          <li class="logo"><span style="color:purple;">Smart</span><span style="color:blue;">Coos</span></li>
        </ul>
        <ul class="nav navbar-nav pull-right">       
          
          <li><a href="http://smartcoos.com/a/en/store/products/view">GET FULL ACCESS NOW </a></li>
          <li><a href="http://smartcoos.com/a/store/giftproducts/view">Gift Subscription</a></li>
          <li class="button">
            <%=button_to 'REGISTER', 'http://smartcoos.com/a/user/register', :class=>"btn btn-primary",:method => :get%>
          </li>
          <li>&nbsp;&nbsp;&nbsp;</li>
          <li class="button">
            <%=button_to 'LOGIN', 'http://smartcoos.com/a/en/user/login', :class=>"btn btn-primary", :method => :get%>
          </li>
        </ul>        
      </div> 
    </div>
  </div>
</nav>